.claim-table-container{
    border-bottom:1px solid #ccc; 
}
claim-table-container .claim-table{
    border-collapse:collapse;
}
claim-table-container .claim-table tr{
    border-collapse:collapse; 
}
.claim-table-container .claim-table th, .claim-table-container .claim-table td{
    padding:3px;
    vertical-align:top;
    width:10%;
    border:0px solid #fff;
    text-align:center;
}

.claim-table-container .claim-table th:first-child, .claim-table-container .claim-table td:first-child {
    width:3%;
    text-align:left ;
}


//////////////////////login form css///////////////////

//@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h3 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}
/*
.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
   border-radius: 2px; 
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
 border-radius: 3px; 
 -webkit-user-select: none;
  user-select: none; 
}

.loginmodal-submit {
   border: 1px solid #3079ed; 
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
   background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); 
}

.loginmodal-submit:hover {
   border: 1px solid #2f5bb7; 
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
   background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); 
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;*/
  
  /***************** css for print ******************/
@page {
size: A4 landscape !important;
/* margin:30px 10px; */
background:#ff0000;

margin-left: .5cm !important;
margin-right: .5cm !important;
}
/* @page :left {
  margin-left: .5cm !important;
}

@page :right {
  margin-right: .5cm !important;
} */

@media print{
h2{
	font-size: 22px;
}
h3{
	font-size: 18px;
}
h4{
	font-size: 16px;
}	
/* @page {
size: A4 landscape !important;
background:#ff0000;
margin-left: .5cm !important;
margin-right: .5cm !important;
} */

.container {
size: A4 landscape !important;
} 

.print_hide{display:none;} 
.print_table_display table th, .print_table_display table td, .print_table_display table td > div{
	font-size:12px;
	padding:0px !important;
	
} 
 .print_table_display table th{
	font-size:12px;		
	width:auto !important;
} 

/*  .print_table_display table th > div{
transform:rotate(-90deg);
height:auto; 
text-align:center;
	 
 } */
 
/*  .print_table_display table th > div {
    height: 240px;
    text-align: left;
    transform: rotate(-90deg);
    white-space: nowrap;
    width: 118px;
} */

.print_table_display table td{
		font-size:12px;
		width:auto !important;
} 
 .print_table_display table td > div{
		font-size:12px;
} 

/* 
 .print_table_display table th:nth-child(3), .print_table_display table td:nth-child(3){
	width:30% !important;
} */



/**/  
}

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  