/*header purpose*/
.headerCvr{
    padding: 7px 0; 
} 
.logoPart{
    width:475px;
    float: left;
}
.logoPart a{ 
    display: block;
    font-size: 35px;
    text-transform: uppercase;
    color:#585858;
}
.logoPart a:hover{
    text-decoration: none;
}
.logoPart a img{
    display: inline-block;
    vertical-align: middle;
}
.logoPart a span{
    display: inline-block;
    vertical-align: middle;
    padding-left: 7px;
}
.hdrRight{
    float: right;
    text-align:right;
    max-width: calc(100% - 475px)
}
.hdrRight p{
    margin:18px 0 0 0; 
    font-size: 13px;
    color: #585858;
}
.hdrRight p span{
        font-size: 90%;
    color: #828282;
    font-weight: 300;
    font-style: italic;
    display: block;
}
.navbar.navbar-default.menubar{
    background: #00aa01;
}
.navbar.navbar-default.menubar .navbar-nav > li > a{
    color: #fff;
}
.navbar.navbar-default.menubar .navbar-nav > .active > a, .navbar.navbar-default.menubar .navbar-nav > .active > a:hover, 
.navbar.navbar-default.menubar .navbar-nav > .active > a:focus{
    background: #eab31d;
}
.navbar.navbar-default.menubar .navbar-nav > .open > a, .navbar.navbar-default.menubar .navbar-nav > .open > a:hover, 
.navbar.navbar-default.menubar .navbar-nav > .open > a:focus{
    background: #0a860b;
}
/*-----------------------*/

footer{
    margin:35px 0 0 0;
    background-color:#171717;
    border:none;
}
footer .para{
    margin: 0;
    padding: 13px 0;
    font-size: 14px;
    font-weight: 300;
    font-family: Arial;
    color:#777;
}
footer .socialPart{
    text-align: right;
    display: block;
}
footer .socialPart:after{
    display: table;
    content: "";
    clear: both;
}
footer .socialPart a{
    color: #777;
    margin: 0;
    transition: color ease 0.3s;
    padding: 14px 22px;
    border-left: 1px solid #0e0e0e;
    display: inline-block;
    transition: all ease 0.3s;
    float: right;
}
footer .socialPart a:first-child{
    border-right: 1px solid #0e0e0e;
}
footer .socialPart a:hover{
   color:#F7F7F7;
   background: #0e0e0e;
}
/*-----------------------*/
.minbody_height{
    min-height: calc(100vh - 251px);
}



















/*-----------------------*/
.claim-table-container{
    border-bottom:1px solid #ccc; 
}
claim-table-container .claim-table{
    border-collapse:collapse;
}
claim-table-container .claim-table tr{
    border-collapse:collapse;
}
.claim-table-container .claim-table th, .claim-table-container .claim-table td{
    padding:3px;
    vertical-align:top;
    width:10%;
    border:0px solid #fff;
    text-align:center;
}

.claim-table-container .claim-table th:first-child, .claim-table-container .claim-table td:first-child {
    width:3%;
    text-align:left ;
    vertical-align: bottom !important;
}


.table_header_rotate div {
    transform: rotate(-90deg);
    text-align: left !important;

    margin-bottom: 58px;
    white-space:nowrap;
}
.spouce_div{
    border-top: 1px dotted #0065ab;
    display: inline-block;
	clear:both;
    margin:0 5px;
}
.spouce_div_noborder{
    margin:0 4px;
	clear:both;
}
.table-condensed tr th:nth-child(5) div {
    margin-bottom: 15px !important;
}



.table_header_rotate {
    /* text-align: left; */
    padding-bottom: 5px !important;
    height: 140px;
    vertical-align: bottom !important;
}

/**/

#village_claim_report_tbl{
    width:100%;
}

#village_claim_report_tbl th, #village_claim_report_tbl td{
    text-align:center;
}


/*login form css///////////////////

//@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

.loginmodal-container h3 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
}

.bold_td td{
	font-weight:bold
}



/*
.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
   border-radius: 2px; 
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
 border-radius: 3px; 
 -webkit-user-select: none;
  user-select: none; 
}

.loginmodal-submit {
   border: 1px solid #3079ed; 
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
   background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); 
}

.loginmodal-submit:hover {
   border: 1px solid #2f5bb7; 
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
   background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); 
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;*/
   /***************** css for print ******************/
@page {
size: A4 landscape !important;
/* margin:30px 10px; */
background:#ff0000;

margin-left: .5cm !important;
margin-right: .5cm !important;
}
/* @page :left {
  margin-left: .5cm !important;
}

@page :right {
  margin-right: .5cm !important;
} */

@media print{
/* #village_claim_report_tbl tr:nth-child(14n +9).bold_td{
	 page-break-after:always !important;
	
} */

.bold_td td {
    padding-bottom: 15px !important;
	/* page-break-after:always !important; */
}




#village_claim_report_tbl tr{
	/* page-break-before:avoid; */
}
h2{
	font-size: 22px;
}
h3{
	font-size: 18px;
}
h4{
	font-size: 16px;
}	


.container {
size: A4 landscape !important;
} 

.print_hide{display:none;} 
.print_table_display table th, .print_table_display table td, .print_table_display table td > div{
	font-size:12px;
	padding:0px !important;
	
} 
 .print_table_display table th{
	font-size:12px;		
	width:auto !important;
} 

.print_table_display table td{
		font-size:12px;
		width:auto !important;
} 
 .print_table_display table td > div{
		font-size:12px;
} 





/**/  
}







@media(max-width:1280px){
    .navbar.navbar-default.menubar .nav > li > a {padding: 10px 8px;}
    .navbar.navbar-default.menubar {min-height: 42px;}
}
@media(max-width:1024px){
    .logoPart a{font-size: 25px;}
    .logoPart a img{width: 65px;}
    .logoPart {width: 356px;}
    .hdrRight {max-width: calc(100% - 356px);}
    .hdrRight p {margin: 14px 0 0 0; font-size: 12px;}
    
    
    /*----------------*/
    .navbar.navbar-default.menubar .nav > li > a {padding:10px 4px; font-size: 12px;}
    footer .para{font-size: 12px;}
    
    
    
}
@media(max-width:800px){
    .logoPart a{font-size: 20px;}
    .logoPart a img{width: 50px;}
    .logoPart {width: 300px;}
    .hdrRight {max-width: calc(100% - 300px);}
    .hdrRight p {margin: 7px 0 0 0; font-size: 12px;}
    /*----------------*/
}